{{ include('@Pub/'~activity.activityType~'/_export.html.twig') }}
{% if is_granted('ROLE_USER') %}
<div class="ui simple dropdown item">
    <div id="activity_lock"
         data-ajax="/activity/lock"
         data-activity="{{ activity.id }}"
         data-authorised="true"
         data-status = "{{ activity.status }}">
        <i class="unlock icon"></i>
    </div>
</div>
<a class="item">
    <i class="icons">
        <i class="list icon"></i>
    </i>
    Add to collection
</a>
{% endif %}
<div id="export" class="item">
    <i class="download icon"></i>
    <span class="text">Export</span>
</div>
{% if is_granted('ROLE_USER') %}

    {%  if app.request.pathinfo == path(activity.activityType~'_by_slug', {slug: activity.slug}) %}
        <a class="item" href="{{ path(activity.activityType~'_update', {id: activity.id}) }}">
            <i class="edit icon"></i>Edit
        </a>
    {% else %}
        <div class="ui pointing dropdown item">
            <i class="save icon"></i>
            <span class="text">Save</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <a id="saveAll" class="item">
                    Save
                </a>
                <a id="saveClose" class="item">
                    Save & Close
                </a>
            </div>
        </div>

{#        <a id="saveAll" class="item">#}
{#            <i class="save icon"></i>Save#}
{#        </a>#}
{#        <a id="saveClose" class="item">#}
{#            <i class="save icon"></i>Save And Close#}
{#        </a>#}
    {% endif %}
{% endif %}