{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css" type="text/css">
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="ui attached large menu adminMenu">
        <a class="item active" data-tab="details">
            Details
        </a>
        <a class="item" data-tab="contents">
            Contents
        </a>
        <a class="item" data-tab="notes">
            Admin Notes
        </a>
    </div>

{% endblock %}
{% block javascripts %}
    {{  parent() }}
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
{% endblock %}