<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <img class="logo" src="{{ asset('images/AABeam_topdown.png') }}">
            <div id="masterHead" class="ui secondary menu" >
                <h1 class="header item">
                    MAP ACTIVITIES
                </h1>
                <div class="right icon menu">
                    <div class="ui category search item">
                        <div class="ui icon input">
                            <input class="menuSearch" type="text" placeholder="Search...">
                            <i class="search link icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                    {% if app.request.get('_route') != 'activity_list' %}
                        <a href="#" class="item">
                            <i class="home icon"></i>Home
                        </a>
                    {% else %}
                        <a id="mapViewSelector" class="item">
                            <i class="globe large icon"></i>Map
                        </a>
                        <a id="collectionViewSelector" class="item">
                            <i class="list large icon"></i>Collections
                        </a>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <a id="searchViewSelector" class="item" href="{{ path('app_logout') }}">
                            <i class="user circle icon"></i>Logout
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
