{% extends 'activity.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="contentWrapper">
        <div class="mcFlexWrapper">
            <div class="col">
                {{ include('walk/_form.html.twig', {
                    button_text: 'Update!'
                }) }}
            </div>
            <div class="col ">
                <div class="ui two item menu attached mapMenu">
                    <a class="active item" data-tab="tab-routeMap"><i class="map signs icon"></i>Route</a>
                    <a class="item" data-tab="tab-bookMap"><i class="map icon"></i>Map</a>
                </div>
                <div id="routeMap" class="ui attached segment walkMapping active tab" data-tab="tab-routeMap">
                    <!-- <div class="bookMap tab" data-tab="tab-bookMap"></div>-->
                    <!-- <div id="routeMap" class="routeMap active tab" data-tab="tab-routeMap"></div>-->
                </div>
                <div class="ui attached segment walkMapping tab" data-tab="tab-bookMap"></div>
            </div>
        </div>

    </div>
{% endblock %}

